@use '../../utils/' as u;
@use '../../utils/mixins' as *;
.add-student {
    display: flex;
    justify-content: flex-end;
    div {
        display: flex;
        align-items: center;
        gap: 5px;
        -webkit-column-gap: 5px;
        width: fit-content;
        padding: 10px 15px;
        margin-top: 10px;
        border-radius: 5px;
        background: linear-gradient(90deg, var(--blueColor), var(--grayShadow));
        i {
            color: var(--whiteColor);
        }
        a {
            cursor: pointer;
            font-size: 0.8rem;
            color: var(--whiteColor);
        }
        &:hover {
            transform: translateY(0.1rem);
        }
    }
}

.list-student {
    margin-top: 20px;
}

.student-identity {
    display: flex;
    justify-content: space-between;
    padding: 18px;
    box-shadow: 0px 5px 10px var(--grayShadow);
    div {
        display: flex;
        align-items: center;
    }
    .modify {
        font-size: 0.85rem;
        padding: 8px 10px;
        color: var(--whiteColor);
        background-color: var(--blueColor);
    }
    .delete {
        cursor: pointer;
        margin-left: 5px;
        padding: 8px 10px;
        color: var(--whiteColor);
        background-color: var(--redColor);
    }
}


/********** THESE CODE BELLOW IS FOR OUR POPUP **********/