@use '../utils/' as u;

/********** BODY PROPERTIES **********/

body {
    font-size: 1rem;
    font-family: u.$font-poppins;
    background-color: var(--grayColor);
}


/********** HEADER **********/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    color: var(--whiteColor);
    background-color: var(--blueColor);
    .user {
        .search {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px 20px;
            border-radius: 20px;
            width: fit-content;
            -webkit-column-gap: 10px;
            background-color: var(--whiteColor);
            i {
                color: var(--blueColor);
            }
            input {
                background: unset;
            }
        }
    }
}


/********** PRINCIPAL SECTION **********/

.principal-Section {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 20% auto;
}


/********** NAV BAR **********/

nav {
    height: 90vh;
    padding: 15px 40px;
    background-color: var(--blueColor);
    .nav-content {
        a {
            display: flex;
            align-items: center;
            gap: 5px;
            -webkit-column-gap: 5px;
            color: var(--blueColor);
            background-color: var(--whiteColor);
        }
    }
    .logout {
        margin-top: 400px;
        button {
            display: flex;
            align-items: center;
            gap: 5px;
            -webkit-column-gap: 5px;
            color: var(--blueColor);
            padding: 10px 20px;
            border-radius: 20px;
            font-weight: 600;
            background-color: var(--whiteColor);
        }
    }
}