@use '../../utils/' as u;
@use '../../utils/mixins' as *;
//Here we are going to design the table
.table-section {
    //font-size: 0.8rem;
    padding: 20px 20px;
    table {
        width: 100%;
        margin: auto;
        border-collapse: collapse;
        thead {
            display: flex;
            width: 100%;
            tr {
                display: flex;
                text-align: left;
                th {
                    padding: 10px;
                    border: 1px solid var(--blackColor);
                }
            }
        }
        tbody {
            tr {
                td {
                    padding: 10px;
                    border: 1px solid var(--blackColor);
                }
            }
        }
    }
}