@use '../../utils/' as u;
@use '../../utils/mixins' as *;
//Here we are going to design the table
.table-section {
    font-size: 0.8rem;
    padding: 40px 40px;
    table {
        width: 100%;
        margin: auto;
        border-collapse: collapse;
        tbody {
            .head {
                font-weight: 600;
            }
            tr {
                td {
                    padding: 10px;
                    border: 1px solid var(--blackColor);
                }
            }
        }
    }
}