@use '../../utils/' as u;
@use '../../utils/mixins' as *;

/********* all the content of the page titulaire **********/

.add-titulaire {
    @include right-alignment;
    &:hover {
        transform: translateY(0.1rem);
    }
    div {
        @include right-alignment-div;
        i,
        a {
            @include right-alignment-i-a;
        }
    }
}

.all-titulaire {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.titulaire-item {
    margin-top: 10px;
    padding: 15px 20px;
    border-radius: 5px;
    width: fit-content;
    box-shadow: 0px 5px 15px var(--grayShadow);
    img {
        width: 200px;
        border-radius: 5px;
        justify-content: center;
        background-color: var(--grayShadow);
    }
}

.titulaire-details {
    div {
        display: flex;
        margin-top: 10px;
        gap: 5px;
        -webkit-column-gap: 5px;
        .modify {
            @include popup-btn;
            text-align: center;
            background-color: var(--blueColor);
        }
        .delete {
            @extend .modify;
            background-color: var(--redColor);
        }
    }
}