@use '../../utils/' as u;
@use '../../utils/mixins' as *;

/********** this is for adding a new class **********/

.design-modules {
    .add-module {
        @include right-alignment;
        &:hover {
            transform: translateY(0.1rem);
        }
        div {
            @include right-alignment-div;
            i,
            a {
                font-size: 0.8rem;
                color: var(--whiteColor);
            }
        }
    }
    .modules {
        margin-top: 10px;
        .module-name {
            padding: 18px;
            display: flex;
            justify-content: space-between;
            box-shadow: 0px 5px 10px var(--grayShadow);
            div {
                .modify {
                    @include btn-popup;
                    background-color: var(--blueColor);
                }
                .delete {
                    @include btn-popup;
                }
            }
        }
    }
}