@use '../../utils/' as u;
@use '../../utils/mixins' as *;

/********** this is for adding a new class **********/

.design-modules {
    .add-module {
        @include right-alignment;
        &:hover {
            transform: translateY(0.1rem);
        }
        div {
            @include right-alignment-div;
            i,
            a {
                font-size: 0.8rem;
                color: var(--whiteColor);
            }
        }
    }
}